* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fff;
    --text-color: rgb(218, 129, 129);
    --main-color:#04b995;
}

/* Header_fix */
body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif
}
 
#header {
    position: relative;
    width: 1200px;
    margin: 0 auto;
   height: 100px;
    padding: 15px 0;
}

#header .shopName img {
    width: 200px;
}

.search-nav {
    display: flex;
    align-items: center;
    position: relative;
}

.search-nav .input_txt {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    position: absolute;
    width: 600px;
    top: 16px;
    right: 260px
    
}

.search-nav .input_search {
    padding: 10px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: rgb(29, 28, 28);
    color: #fff;
    cursor: pointer;
}
a
{
    text-decoration: none;
}

.search-nav i {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 270px
}

#header i {
    margin: 0 3px;
    color: #04b995; font-weight:bold
}

#header .button-dang-nhap,
#header .gioHang {
   
   
}
#header .gioHang 
{
    position: relative;
    top: -15px;
}
#header .gioHang:hover .gioHang_hover
{
    display: block;
}
.gioHang_hover
{
    background-color: #fff;
    width: 350px;
    position: absolute;
    right: 15px;
    z-index: 10;
    box-shadow: 1px 2px 8px #ccc;
    /*border: 1px solid #04b995;*/
    top: 81px;
    padding: 5px;
    display: none;
}
.gioHang_hover_sp
{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    background-color: #fff;
}
.gioHang_hover_button button
{
    width: 100%;
    background: #008f71;
    color: #fff;
    border-radius: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
}
.gioHang_hover .img
{
width: 55px;
}
.title_gioHang
{
    padding-left: 10px;
border-bottom: 1px solid #bdc1c0;
}
#header .button-dang-nhap button,
#header .gioHang a {
    font-size: 20px;
    color: #04b995; font-weight:bold;
    text-decoration: none;
    padding: 6px 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    
}
#header .gioHang a
{
    position: absolute;
    right: 21px;
    top: 33px;
}
#header .button-dang-nhap button
{
    position: absolute;
    right: 55px;
    top: 33px;
}

#header .button-dang-nhap button:hover,
#header .gioHang a:hover {
    opacity: 0.7;
}
.tamgiac i
{
    position: absolute;
    /* width: 60px; */
    font-size: 45px;
    top: -25px;
    right: 6px;
    z-index: 0;
    color: #fff !important;
   
}

/* Nav_fix */



#nav-fix .nav .dropdown-list > li {
    list-style: none;
    display: inline-block;
    width: 200px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#nav-fix .nav_sp {
    text-decoration: none;
    display: block;
    padding: 15px 25px;
   
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
    transition: background-color 1s;
}
#nav-fix .nav_sp a
{
    color:#04b995;
    font-size: 18px;
    text-decoration: none;
}
#nav-fix
{
    height: 55px;
}

.dropdown-list .dropdown-items {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    flex-direction: column;
    box-shadow: 4px 0px 7px rgb(146, 139, 139), -4px 0px 7px rgb(146, 139, 139);
    display: none;
    font-size: 14px;
    
}
.dropdown-list
{
    background-color: #EEEEEE;
    text-align: center;
}
.ul_menu_item_1
{
    top: 48px;
    position: absolute;
    width: 300px;
    right: 48px;
    /* text-align: center; */
    padding: 0px 0 0 65px;
    border-left: 1px solid #ccc;
    
}



/* End DROPDOWN */
#nav-fix .nav li a:hover,
.nav_sp:hover {
    background-color: #fff;
    color: #0b6654
}

#content-bottom {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#content-bottom .text {
    width: 15%;
    margin: 40px 30px;
}

#content-bottom .text .top {
    padding-bottom: 4px;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

#content-bottom .text li {
    margin-top: 15px;
    color: #fff;
    list-style: none;
}

#content-bottom .text li a {
    text-decoration: none;
    color: rgb(170, 162, 162);
}

#content-bottom .text li a:hover {
    opacity: 0.7;
}

#content-bottom .text .icon a {
    margin-left: 15px;
    font-size: 24px;
    color: var(--bg-color);
}
/* Nút Quay lại */
.button-home {
    background-color: rgb(245, 245, 245);
    
    position: relative;
}
.button-home div a
{
text-decoration: none;
}

.button-home div {
    opacity: 0.5;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1;
}
.button-home div a{
    color: red;
}
.button-home div:hover a {
    color: var(--text-color);
}

.button-home div i {
    border: 1px solid black;
    border-radius: 50px;
    border-color: var(--main-color);
    padding: 20px;
    color: var(--main-color);
    margin-left: 26px;
}
.button-home p
{
    color: var(--main-color);
}

/* FOOTER */

#footer {
    width: 100%;
    position: relative;
    height: 310px;
    display: flex;
    background-color: rgb(245, 245, 245);
}

#footer .content {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 0 0 50px;
    width: 1155px;
}

#footer .text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-top: 30px;
}

#footer .text p {
    margin-top: 10px;
}

#footer .img {
    position: absolute;
    top: 115px;
    left: -8px;
}

#footer .img img {
    width: 180px;
}

#footer .backgroud {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* m